@import url("https://fonts.googleapis.com/css2?family=Inter&family=Outfit&display=swap");

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  background-image: url(/Assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  width: 80%;
  margin-inline: auto;
}

header img {
  max-width: 200px;
  padding-left: 80px;
}

.container {
  text-align: center;
}

h1 {
  color: whitesmoke;
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  margin-top: 80px;
  margin-bottom: 0;
}

p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 23px;
  margin-top: 15px;
}

.containStar {
  text-align: center;
}

.star {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #01062d;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.stellina {
  background-image: url(/Assets/star.svg);
  background-size: cover;
}

.tin {
  text-align: center;
  margin-top: 60px;
}

input {
  margin-top: 20px;
  border: none;
  border-bottom: 3px solid purple;
  padding-bottom: 5px;
  background-color: transparent;
  width: 650px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.bottone {
  margin-top: 50px;
  text-align: center;
}

.my-button {
  text-align: center;
  padding: 15px 50px;
  border: 3px solid aqua;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: aqua;
  background-color: transparent;
}

.my-button:hover {
  border: 3px solid transparent;
  color: black;
  box-shadow: rgb(0, 145, 189) 0px 2px 4px 0px, rgb(18, 178, 247) 0px 2px 16px 0px;
  background-color: aqua;
}
